/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(images/home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}

div.container { 
	position: relative;
	min-height: 100vh;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */

body {  
    font-family: sans-serif;  
}

main { 
	padding: 3em 3em 2em;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid;
	grid-template-columns: auto 1fr;
	background: #CCCCCC ;
	padding: 0.8em 0.5em;
	}

h1 {
	width: 40em;
	font-weight: bold;
	font-size: 1.7em;
	}

h2, h3, h4 {
		font-weight: bold;
	}

h2 {
	font-size: 1.3em;
	margin: 1.1em 0 1.1em;
	}
	
h3 {
	font-size: 1.1em;
	margin: 1.1em 0 1.1em;
}


a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 0em;
}

main.menu ul {
		margin: 2em;
}	

main.menu ul li {
		margin: 2em 1em 3em;		
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 1.0em 0em 1.2em;
	}
	
p.description {
	grid-column: 1 /3;
	margin: 0em;
	}
	
p.price {
	grid-row: 1;
	grid-column: 2;
	color: red;
	text-align: right;
	margin: 0em;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1em;
	}
	
nav ul li a {
	color: yellow;
	background-color: blue;
	padding: 0.3em;
	}

p.slogan {
	font-size: 5em;
    font-family: serif;  
    font-style: italic;  
	margin: 0em 0em 0.5em;
	color: white;	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: .9em 1em 0em;
  background: yellow; 
}

address {
	color: orange; 
	}

footer p {
	margin: 0;
}

